// $fontT: 'Playfair Display'; // titulo 1
// $fontH: 'Alegreya Sans'; // titulos
// $fontP: 'Raleway'; // parrafo
// $fontB: 'Alegreya Sans'; // marca

#root {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontP, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: $cgrey2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: $fontT, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h2, h3, h4 {
  font-family: $fontH, sans-serif;
  font-weight: 700;
  font-style: normal;
}
a, a:hover{
  text-decoration: none;
  color: $cblack;
}

.brand-text {
  font-family: $fontB, serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}


// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
